<div class="fill" id="map_container" ng-controller="HomeController">

   <a class="btn btn-sm btn-danger filter-button" ng-click="openFilterModal()">Filter Memories</a>

  <ui-gmap-google-map 
    center="map.center" zoom="map.zoom" draggable="true"
    events="map.events" bounds="map.bounds" options="map.options">

    <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>

    <ui-gmap-marker ng-repeat="m in markers" coords="m" click="markerSelected(m)" idkey="m.id"></ui-gmap-marker>

  </ui-gmap-google-map>
</div>