<div class="modal-body center">
    <div class="row" style="text-align: center;">
        <div class="">
            <p class="visual centered">
             <img src="assets/images/icon-confirm.png" alt="Hata">
            </p>
            <p class="modal-title centered error_message">{{modalData.message}}</p>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn button-cta" ng-click="cancel()">Cancel</button>
    <button ng-show="modalData.goOnSuccess" class="btn button-cta" ng-click="success()">Login</button>
</div>