<div class="fill" ng-controller="HomeController">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="fill col-md-9" style="padding:0;" id="map_container">

    <ui-gmap-google-map 
      center="map.center" zoom="map.zoom" draggable="true"
      events="map.events" bounds="map.bounds" options="map.options">

      <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>

      <ui-gmap-marker ng-repeat="m in activeMarkers" coords="m" click="markerSelected(m)" idkey="m.id"></ui-gmap-marker>

    </ui-gmap-google-map>
  </div>

  <div style="margin-top:35px;padding:0;height:100%" class="col-md-3">
  <a class="btn btn-sm btn-primary" ng-hide="isAddingLocation" ng-click="isAddingLocation = !isAddingLocation">Add Location</a>
     <a class="btn btn-sm btn-danger" ng-show="isAddingLocation" ng-click="isAddingLocation = !isAddingLocation">Cancel Location Mode</a>
     <a class="btn btn-sm btn-primary" ng-hide="isAddingLocation" ng-click="openFilterModal()">Filter Memories</a>
    <h3>Places</h3>
    <ul class="listrap">
      <li ng-repeat="marker in activeMarkers" ng-class="{'active' : marker.isActive}">
        <button type="button" class="btn btn-warning btn-xs" title="Add" ng-click="selectThumb(marker)" ng-class="{'btn-success' : marker.isActive}">
            <span class="glyphicon glyphicon-plus" ng-class="{'glyphicon-ok' : marker.isActive}"></span>
          </button>
        <strong ng-if="!marker.isCustom" title="{{marker.place.name}}" ng-click="goToMarker(marker)">{{marker.name | cut:20}}</strong>
        <a ng-if="marker.isCustom" href="" editable-text="marker.place.name">{{ marker.place.name || "empty" }}</a>
        <button ng-show="marker.isCustom" type="button" style="float:right;" class="btn btn-danger btn-xs" title="Delete" ng-click="removeMarker($index)">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
      </li>
    </ul>
    <button ng-show="selectedToAdd > 0" ng-click="addMemory()" type="button" class="btn btn-primary btn-lg" style="width:100%;">Add Memory To <br>({{selectedToAdd}}) Location</button>
  </div>

</div>