<section class="login" class="visible" ng-controller="SignupController">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-box-plain">
                    <h2 class="bigintro">Register</h2>
                    <div class="divide-40"></div>
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                    <form role="form" ng-submit="signup()">
                      <div class="form-group">
                        <i class="fa fa-font"></i>
                        <input ng-model="fullName" type="text" class="form-control" placeholder="Full Name" required>
                      </div>
                      <div class="form-group">
                        <i class="fa fa-envelope"></i>
                        <input ng-model="email" type="email" class="form-control" placeholder="Email address" required>
                      </div>
                      <div class="form-group"> 
                        <i class="fa fa-lock"></i>
                        <input ng-model="password" type="password" class="form-control" placeholder="Password" required>
                      </div>
                      <div class="form-group"> 
                        <i class="fa fa-check-square-o"></i>
                        <input ng-model="passRepeat" type="password" class="form-control" placeholder="Repeat Password" required>
                      </div>
                      <div class="form-actions">
                        <button type="submit" class="btn btn-success">Sign Up</button>
                      </div>
                    </form>
                    <div class="login-helpers">
                        <a href="" ui-sref="signin"> Back to Login</a> <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>